<footer id="footer" class="top-space">
 
            <div class="footer1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 widget">
                            <h3 class="widget-title"></h3>
                            <div class="widget-body">
                                <p><i class="nomprenom" ></i>Mathieu Ladeuil<br>
                                    <i class="mail" ></i> mathieu.ladeuil@umontpellier.fr<br>
                                </p>  
                            </div>
                        </div>
 
                        <div class="col-md-3 widget">
                            <h3 class="widget-title">

                            </h3>
                            <div class="widget-body">

                            </div>
                        </div>
 
                        <div class="col-md-6 widget">
                            <h3 class="widget-title">

                            </h3>
                            <div class="widget-body">
                                <p>
                                  <i class="nomprenom"></i>Elodie Laborde</a><br>
                                    <i class="fa fa-map-marker" ></i>  elodie.laborde@umontpellier.fr 
                                </p>
                            </div>
                        </div>
 
                    </div>
                </div>
            </div>
 
            <div class="footer2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 widget">
                            <div class="widget-body">
                                <p class="simplenav">
                                    
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 widget">
                            <div class="widget-body">
                <p class="text-right">
                                    &copy 2020 - Tous droits réservés !
                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                                 
        </footer>